/* CSS (styles.css) */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}
.col {
    padding: 0 15px;
}
.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-2 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
}
.col-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
}
.col-4 {
    flex: 0 0 33.333%;
    max-width: 33.333%;
}
.site-footer {
    background-color: #051d40;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #ddd;
    font-family: 'Montserrat', sans-serif !important;
}
.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5;
}
.site-footer h6 {
    color: #fff;
    font-size: 20px;
    margin-top: 5px;
    letter-spacing: 2px;
    font-weight: 700;
}
.site-footer h1 {
    color: #fff;
    font-size: 64px;
    letter-spacing: 2px;
    font-weight: 800;
}
.site-footer a {
    color: #ddd;
    text-decoration: none;
}
.site-footer a:hover {
    color: #3366cc;
    text-decoration: none;
}
.footer-links {
    padding-left: 0;
    list-style: none;
}
.footer-links li {
    display: block;
}
.footer-links a:hover {
    color: #3366cc;
}
.social-icons {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    padding-left: 0;
}
.social-icons li {
    margin-left: 10px;
}
.social-icons a {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background-color: #33353d;
    text-align: center;
    color: #fff;
    font-size: 18px;
}
.social-icons a:hover {
    background-color: #29aafe;
}
.social-icons a.facebook:hover {
    background-color: #3b5998;
}
.social-icons a.instagram:hover {
    background-color: #ea4c89;
}
